extends layout

block content
  h1= title
  p Welcome to #{title}

block video
  <video controls>
  <source src="/media/video?filename=Toaster.mp4" type="video/mp4">
  </video>

block audio
  <audio controls>
  <source src="/media/audio?filename=Meek Mill - Ooh Kill Em [Official Video].mp3">
  </audio>

block videoUpload
  <form method="post" action="/media/video" enctype="multipart/form-data">
  <input id="videoUpload" type="file" name="videoUpload">
  <input type="submit">
  </form>
block imageUpload
  <form method="post" action="/media/image" enctype="multipart/form-data">
  <input id="imageUpload" type="file" name="videoUpload">
  <input type="submit">
  </form>

block audioUpload
  <label>Audio</label>
  <form method="post" action="/media/audio" enctype="multipart/form-data">
  <input name="uploader" type="text">
  <input name="artist" type="text">
  <input name="songName" type="text">
  <input id="audioUpload" type="file" name="audioUpload">
  <input type="submit">
  </form>
